<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
	<connectionStrings>
		<add name="MyDB"
			 connectionString ="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QuanlyCongViec.mdf;Integrated Security=True;User Instance=True"
			 providerName="System.Data.SqlClient"
         />
	</connectionStrings>
</configuration>